@import './colors.scss';
@import './mixins.scss';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    @include flexAlign;
}

.container {
    width: 1172px;
}

.header {
    @include flexAlign(space-between);
    height: 109px;

    &__menu {
        @include flexAlign;

        .links {
            list-style-type: none;

            &__item {
                display: inline-block;
                margin-left: 30px;

                a {
                    text-decoration: none;
                    @include fontStyle;
                }
            }
        }
    }

    &__contacts {
        @include flexAlign;

        &-item {
            margin-right: 40px;
            color: $text-color-main;

            &:last-child {
                margin-right: 0;
            }

            &-text {
                text-decoration: none;
                @include fontStyle(16px);
            }
        }
    }
}

.banner {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    clip-path: polygon(0 0, 70% 0, 75% 5%, 80% 0, 100% 0, 100% 100%, 30% 100%, 25% 95%, 20% 100%, 0 100%);

    &__content {
        height: 730px;
        padding-top: 180px;
        box-sizing: border-box;

        .info {
            color: white;
            user-select: none;

            &__title {
                margin: 0;
                @include fontStyle(36px, 300, inherit);
            }

            &__text {
                margin: 45px 0 55px 0;
                @include fontStyle(14px, 300, inherit);
                line-height: 22px;
                letter-spacing: 2px;
            }
        }
    }
}

.title {
    @include fontStyle(36px, 900, white);
    margin: 0;
    margin-bottom: 18px;
    letter-spacing: 2px;

    &_main {
        color: $text-color-main;
    }

    &_active {
        color: $active-color;
    }
}

.button {
    width: 240px;
    height: 60px;
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    border: 3px solid rgba(white, .7); // rgba(0,0 ,0 , 1)
    box-sizing: border-box;
    text-transform: uppercase;
    @include fontStyle(21px, 900, white);
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: rgba($text-color-main, .6);
        box-shadow: 0 0 10px 0 rgba(black, .6);
    }
}

.features {
    flex-direction: column;
    padding: 105px 0 150px 0;

    &__text {
        width: 770px;
        text-align: center;
        @include fontStyle(16px, 300, $text-color-muted);
    }

    .navigation {
        width: 100%;
        @include flexAlign;

        &__radio {
            display: none;
        }

        &__menu {
            min-width: 350px;
            border-right: 1px solid $text-color-muted;

            &-item {
                width: 100%;
                height: 120px;
                @include flexAlign(space-between);
                padding: 0 60px 0 40px;
                box-sizing: border-box;
                position: relative;

                .icon {
                    fill: $text-color-muted;
                }

                .text {
                    @include fontStyle(20px, 300, $text-color-muted);
                }
            }
        }

        &__content {
            width: 100%;
        }
    }
}

// -----

#bag:checked ~ .navigation__menu > .bag  {
    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);
        width: 11px;
        height: 80px;
        background-color: $active-color;
    }

    .text {
        @include fontStyle(20px, 500, $text-color-main);
    }
    
    .icon {
        fill: $active-color;
    }
}

#leaf:checked ~ .navigation__menu > .leaf  {
    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);
        width: 11px;
        height: 80px;
        background-color: $active-color;
    }
    .text {
        @include fontStyle(20px, 500, $text-color-main);
    }
    
    .icon {
        fill: $active-color;
    }
}

#heart:checked ~ .navigation__menu > .heart  {
    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);
        width: 11px;
        height: 80px;
        background-color: $active-color;
    }
    .text {
        @include fontStyle(20px, 500, $text-color-main);
    }
    
    .icon {
        fill: $active-color;
    }
}

#umbr:checked ~ .navigation__menu > .umbr  {
    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);
        width: 11px;
        height: 80px;
        background-color: $active-color;
    }
    .text {
        @include fontStyle(20px, 500, $text-color-main);
    }
    
    .icon {
        fill: $active-color;
    }
}

#smart:checked ~ .navigation__menu > .smart  {
    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);
        width: 11px;
        height: 80px;
        background-color: $active-color;
    }
    .text {
        @include fontStyle(20px, 500, $text-color-main);
    }
    
    .icon {
        fill: $active-color;
    }
}

// ---
